<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">

{% include header.html %}
{% include portfolio_grid.html %}
{% include about.html %}
{% include projects.html %} <!-- Replaced team.html with projects.html -->
{% include certificates.html %} <!-- Added certificates.html -->
{% include contact.html %}
{% include footer.html %}
{% include modals.html %}
{% include js.html %}

<!-- Include your custom styles -->
<link href="{{ '/css/styles.css' | prepend: site.baseurl }}" rel="stylesheet">

</body>
</html>


